.contact {
    background: $clr-primary-5;

    &-title {
        color: $clr-white;

        p {
            color: burlywood;
        }
    }

    &-form {
        display: flex;
        max-width: 28rem;

        .form-control {
            flex: 1 1 auto;
            color: $clr-grey-5;

            &::placeholder {
                color: inherit;
            }
        }

        .form-control,
        .btn-submit {
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            font-weight: 300;
            text-transform: capitalize;
            letter-spacing: $spacing;
            background: $clr-white;
            border: transparent;
        }

        .btn-submit {
            font-family: $ff-primary;
            margin-left: 0.5rem;
            background: $clr-primary-8;
            color: $clr-primary-1;

            &:hover {
                background-color: $clr-primary-1;
                color: #fff;
            }
        }
    }
}

@media screen and (min-width:992px) {
    .contact-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .contact-form {
        align-self: flex-start;
        flex: 1 1 auto;
        max-width: 100%;
        padding-left: 2rem;
    }
}