.footer {
    background: $clr-grey-1;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;

    &-links,
    &-icons {
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;
        flex-wrap: wrap;
    }

    .footer_link {
        color: $clr-white;
        text-transform: capitalize;
        font-size: 1rem;
        margin-right: 1rem;
        letter-spacing: $spacing;
        transition: $transition;

        &:hover {
            color: $clr-primary-5;
        }
    }

    .footer-icon {
        font-size: 2rem;
        margin-right: 1rem;
        color: $clr-primary-8;
        transition: $transition;

        &:hover {
            color: $clr-primary-5;
        }
    }

    .copyright {
        text-transform: capitalize;
        letter-spacing: $spacing;
        color: $clr-white;
    }
}