.hero {
    min-height: 100vh;
    background: $clr-primary-5;
    display: flex;
    justify-content: center;
    align-items: center;

    &-banner {
        text-align: center;
        color: $clr-white;
        padding: 0 3rem;

        h1 {
            text-transform: uppercase;
        }

        p {
            max-width: 35rem;
            margin-left: auto;
            margin-right: auto;
            color: $clr-white;
            letter-spacing: $spacing;
        }
    }

    &-btn {
        padding: 0.9rem 1.6rem;
        font-size: 1.25rem;
        background: $clr-white;
        color: $clr-primary-5;

        &:hover {
            background: transparent;
            color: $clr-white;
            border: $clr-white;
        }
    }
}

@media screen and (min-width:768px) {
    .hero {
        background: linear-gradient(rgba(44, 174, 186, 0.7),
                rgba(0, 0, 0, 0.7)),
            url("../images/main.jpeg") center/cover no-repeat;

        &-banner {
            padding: 0;

            p {
                max-width: 45rem;
            }
        }
    }
}