.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $clr-white;
    box-shadow: $dark-shadow;
    z-index: 2;

    .nav-center {
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
    }

    .nav-icons {
        display: none;
    }

    .nav-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    }

    .nav-toggle {
        background: transparent;
        border: transparent;
        font-size: 1.5rem;
        color: $clr-primary-5;
        cursor: pointer;
        transition: $transition;

        &:hover {
            transform: scale(1.2);
        }
    }

    .nav-link {
        display: block;
        font-size: 1rem;
        padding: 1rem 2rem;
        text-transform: capitalize;
        letter-spacing: $spacing;
        transition: $transition;
        color: $clr-grey-1;
        cursor: pointer;

        &:hover {
            color: $clr-primary-1;
            background: $clr-primary-8;
            padding-left: 2.25rem;
        }
    }

    .nav-links {
        height: 0;
        overflow: hidden;
        transition: $transition;
    }

    .show-links {
        height: 280px;
    }
}



.hero {
    min-height: 100vh;
    background: $clr-primary-5;
    display: flex;
    justify-content: center;
    align-items: center;

    &-banner {
        text-align: center;
        color: $clr-white;
        padding: 0 3rem;

        h1 {
            text-transform: uppercase;
        }

        p {
            max-width: 35rem;
            margin-left: auto;
            margin-right: auto;
            color: $clr-white;
            letter-spacing: $spacing;
        }
    }

    &-btn {
        padding: 0.9rem 1.6rem;
        font-size: 1.25rem;
        background: $clr-white;
        color: $clr-primary-5;

        &:hover {
            background: transparent;
            color: $clr-white;
            border: $clr-white;
        }
    }
}

@media screen and (min-width:768px) {
    .hero {
        background: linear-gradient(rgba(44, 174, 186, 0.7),
                rgba(0, 0, 0, 0.7)),
            url("../images/main.jpeg") center/cover no-repeat;

        &-banner {
            padding: 0;

            p {
                max-width: 45rem;
            }
        }
    }
}