.section {
    padding: 5rem 0;

    &-title {
        text-align: center;
        margin-bottom: 4rem;

        h2 {
            text-transform: uppercase;
        }

        span {
            color: $clr-primary-5;
        }
    }

    &-center {
        width: 90vw;
        margin: 0 auto;
        max-width: 1170px;
    }
}

@media screen and (min-width:992px) {
    .section-center {
        width: 95vw;
    }
}