.services {
    background: $clr-grey-10;
}

.service {
    text-align: center;
    margin-bottom: 3rem;

    &-icon {
        background: $clr-primary-5;
        color: $clr-primary-1;
        padding: 0.5rem;
        display: inline-block;
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    &-text {
        max-width: 20rem;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width:576px) {
    .services-center {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .service {
        flex: 0 0 calc(50% - 1rem);
        margin-bottom: 1rem;
    }
}

@media screen and (min-width:992px) {
    .service {
        flex: 0 0 calc(33.333% - 1rem);
    }
}

@media screen and (min-width:1170px) {
    .service {
        display: flex;
        text-align: left;

        &-icon {
            align-self: center;
        }

        &-info {
            padding-left: 1rem;
        }

        &-title {
            margin-bottom: 0.5rem;
        }

    }
}